.contain_admin{
    #logoService{
        p{
            margin: 0 !important;
            padding: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                background: var(--action_color);
                border-radius: 50%;
                padding: 10px;
                color: #fff;
            }
        }
    }
}