.blogs_frame{ 
    nav{
        padding: 10px 50px;
        z-index: 99;
        h2{
            color: var(--primary);
        }
        .button{
            margin: 0;
            border-radius: 10px;
            border: 2.5px solid #bbbbbb;
            font-size: 15px;
            padding: 7px 20px;
            background-color: transparent;
            color: #5a5a5a;
            font-weight: 500;
        }
        .buttonSin{
            border: 2.5px solid var(--primary);
            margin: 0;
            background-color: var(--primary);
            color: white;
        }
        .button:hover{
            border: 2.5px solid var(--primary);
            background-color: transparent;
            color: var(--primary);
        }
    }
    .frame{
        margin-top: 60px;
        padding: 120px 20px;
        overflow: hidden auto;
        height: 100vh;
        .header_search_tools{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            label{
                width: 20%;
                height: 50px;
                color: #000;
                display: flex;
                justify-content: end;
                align-items: center;
                transition: .4s ease;
                i{
                    color: var(--primary);
                    font-size: 30px;
                }
                .search{
                    display: none;
                    width: 90%;
                    height: 40px;
                    outline: none;
                    background-color: transparent;
                    color: #000;
                    border-radius: 10px;
                    border:2.5px solid var(--primary);
                    outline: none;
                    transition: 0.4s ease;
                }
                .search:focus {
                    text-decoration: none;
                    box-shadow: none;
                    outline: none; }
            }
        }
        // show blogs
        .blogShowPanel{
            .title_blog{
                h1{
                    color: #000;
                }
                h4{ 
                    font-weight: 500;
                    color: #252525;
                }
            }
            //blog_image
            .portfolio-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                .gallery {
                    --size: 100px; /* Increase this value to make the images bigger */
                    display: grid;
                    grid-template-columns: repeat(6, var(--size));
                    grid-auto-rows: var(--size);
                    margin-bottom: var(--size);
                    place-items: start center;
                    gap: 5px;
                    
                    &:has(:hover) img:not(:hover),
                    &:has(:focus) img:not(:focus){
                      filter: brightness(0.5) contrast(0.5);
                    }
                  
                    & img {
                      object-fit: cover;
                      width: calc(var(--size) * 2);
                      height: calc(var(--size) * 2);
                      clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
                      transition: clip-path 0.25s, filter 0.75s;
                      grid-column: auto / span 2;
                      border-radius: 10px;
                  
                      &:nth-child(5n - 1) { 
                        grid-column: 2 / span 2 
                      }
                  
                      &:hover,
                      &:focus {
                        clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
                        z-index: 1;
                        transition: clip-path 0.25s, filter 0.25s;
                      }
                      
                      &:focus {
                        outline: 1px dashed black;
                        outline-offset: -5px;
                      }
                    }
                  }
            }
            //blog_text_frame
            .blog_text_frame{
                margin: 100px 0 0;
                position: relative;
                .container{
                    background-color: #FAFAFB;
                    padding: 50px;
                    border-radius: 10px;
                    position: relative;
                    overflow: hidden;
                    .overall{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: #00000097;
                        z-index: 1;
                        transition: 0.4s ease;
                        display: none;
                    }
                    .blog_content{
                        padding-top: 50px;
                        color: #000;
                        font-size: 18px;
                        z-index: 0;
                    }
                    .action{
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 80px;
                        button{
                            border-radius: 0 10px 10px 0;
                            width: 100%;
                            height: 40px;
                            margin: 5px;
                            background-color: var(--primary);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            i{
                                color: #fff;
                            }
                        }  
                          button:hover {
                            opacity: .9;
                            box-shadow: #fff;
                            background-color: #acacac7c;
                          }
                          
                          button:active {
                            opacity: .9;
                            box-shadow: #fff;
                          }
                          
                          button .btn-label {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 0.5rem;
                            cursor: pointer;
                            position: relative;
                          }
                          
                          .like-text-content {
                            border-right: 0.1rem solid var(--dark-grey);
                            padding: 0 0.6rem 0 0.5rem;
                            pointer-events: none;
                            color: #fff;
                          }
                          
                          .dislike-text-content {
                            border-left: 0.1rem solid var(--dark-grey);
                            padding: 0 0.5rem 0 0.6rem;
                            pointer-events: none;
                          }
                          
                          button .svgs {
                            width: 1.3rem;
                            fill: #fff;
                            box-sizing: content-box;
                            padding: 10px 10px;
                            transition: .2s ease all;
                            font-size: 20px;
                          }
                          
                          /* Hide the default checkbox */
                          button .input-box {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                          }
                          
                          button #icon-like-regular {
                            display: block;
                          }
                          
                          button #icon-like-solid {
                            display: none;
                          }
                          
                          button:hover :is(#icon-like-solid, #icon-like-regular) {
                            animation: rotate-icon-like 0.7s ease-in-out both;
                          }
                          
                          button #like-checkbox:checked ~ #icon-like-regular {
                            display: none;
                            animation: checked-icon-like 0.5s;
                          }
                          
                          button #like-checkbox:checked ~ #icon-like-solid {
                            display: block;
                            animation: checked-icon-like 0.5s;
                          }
                          
                          button #icon-dislike-regular {
                            display: block;
                            transform: rotate(180deg);
                          }
                          
                          button #icon-dislike-solid {
                            display: none;
                            transform: rotate(180deg);
                          }
                          
                          button:hover :is(#icon-dislike-solid, #icon-dislike-regular) {
                            animation: rotate-icon-dislike 0.7s ease-in-out both;
                          }
                          
                          button #dislike-checkbox:checked ~ #icon-dislike-regular {
                            display: none;
                            animation: checked-icon-dislike 0.5s;
                          }
                          
                          button #dislike-checkbox:checked ~ #icon-dislike-solid {
                            display: block;
                            animation: checked-icon-dislike 0.5s;
                          }
                          
                          button .fireworks {
                            transform: scale(0.4);
                          }
                          
                          button #like-checkbox:checked ~ .fireworks > .checked-like-fx {
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            right: 40px;
                            border-radius: 50%;
                            box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
                            animation: 1s fireworks-bang ease-out forwards, 1s fireworks-gravity ease-in forwards, 5s fireworks-position linear forwards;
                            animation-duration: 1.25s, 1.25s, 6.25s;
                          }
                          
                          button #dislike-checkbox:checked ~ .fireworks > .checked-dislike-fx {
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            left: 40px;
                            border-radius: 50%;
                            box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
                            animation: 1s fireworks-bang ease-out forwards, 1s fireworks-gravity ease-in forwards, 5s fireworks-position linear forwards;
                            animation-duration: 1.25s, 1.25s, 6.25s;
                          }
                          
                          /* Shake Animation */
                          @keyframes rotate-icon-like {
                            0% {
                              transform: rotate(0deg) translate3d(0, 0, 0);
                            }
                          
                            25% {
                              transform: rotate(3deg) translate3d(0, 0, 0);
                            }
                          
                            50% {
                              transform: rotate(-3deg) translate3d(0, 0, 0);
                            }
                          
                            75% {
                              transform: rotate(1deg) translate3d(0, 0, 0);
                            }
                          
                            100% {
                              transform: rotate(0deg) translate3d(0, 0, 0);
                            }
                          }
                          
                          @keyframes rotate-icon-dislike {
                            0% {
                              transform: rotate(180deg) translate3d(0, 0, 0);
                            }
                          
                            25% {
                              transform: rotate(183deg) translate3d(0, 0, 0);
                            }
                          
                            50% {
                              transform: rotate(177deg) translate3d(0, 0, 0);
                            }
                          
                            75% {
                              transform: rotate(181deg) translate3d(0, 0, 0);
                            }
                          
                            100% {
                              transform: rotate(180deg) translate3d(0, 0, 0);
                            }
                          }
                          
                          /* Checked Animation */
                          @keyframes checked-icon-like {
                            0% {
                              transform: scale(0);
                              opacity: 0;
                            }
                          
                            50% {
                              transform: scale(1.2) rotate(-10deg);
                            }
                          }
                          
                          @keyframes checked-icon-dislike {
                            0% {
                              transform: scale(0) rotate(180deg);
                              opacity: 0;
                            }
                          
                            50% {
                              transform: scale(1.2) rotate(170deg);
                            }
                          }
                          
                          /* Fireworks Animation */
                          @keyframes fireworks-position {
                            0%, 19.9% {
                              margin-top: 10%;
                              margin-left: 40%;
                            }
                          
                            20%, 39.9% {
                              margin-top: 40%;
                              margin-left: 30%;
                            }
                          
                            40%, 59.9% {
                              margin-top: 20%;
                              margin-left: 70%;
                            }
                          
                            60%, 79.9% {
                              margin-top: 30%;
                              margin-left: 20%;
                            }
                          
                            80%, 99.9% {
                              margin-top: 30%;
                              margin-left: 80%;
                            }
                          }
                          
                          @keyframes fireworks-gravity {
                            to {
                              transform: translateY(200px);
                              opacity: 0;
                            }
                          }
                          
                          @keyframes fireworks-bang {
                            to {
                              box-shadow: 114px -107.3333333333px #8800ff, 212px -166.3333333333px #a600ff, 197px -6.3333333333px #ff006a, 179px -329.3333333333px #3300ff, -167px -262.3333333333px #ff0062, 233px 65.6666666667px #ff008c, 81px 42.6666666667px #0051ff, -13px 54.6666666667px #00ff2b, -60px -183.3333333333px #0900ff, 127px -259.3333333333px #ff00e6, 117px -122.3333333333px #00b7ff, 95px 20.6666666667px #ff8000, 115px 1.6666666667px #0004ff, -160px -328.3333333333px #00ff40, 69px -242.3333333333px #000dff, -208px -230.3333333333px #ff0400, 30px -15.3333333333px #e6ff00, 235px -15.3333333333px #fb00ff, 80px -232.3333333333px #d5ff00, 175px -173.3333333333px #00ff3c, -187px -176.3333333333px #aaff00, 4px 26.6666666667px #ff6f00, 227px -106.3333333333px #ff0099, 119px 17.6666666667px #00ffd5, -102px 4.6666666667px #ff0088, -16px -4.3333333333px #00fff7, -201px -310.3333333333px #00ffdd, 64px -181.3333333333px #f700ff, -234px -15.3333333333px #00fffb, -184px -263.3333333333px #aa00ff, 96px -303.3333333333px #0037ff, -139px 10.6666666667px #0026ff, 25px -205.3333333333px #00ff2b, -129px -322.3333333333px #40ff00, -235px -187.3333333333px #26ff00, -136px -237.3333333333px #0091ff, -82px -321.3333333333px #6a00ff, 7px -267.3333333333px #ff00c8, -155px 30.6666666667px #0059ff, -85px -73.3333333333px #6a00ff, 60px -199.3333333333px #55ff00, -9px -289.3333333333px #00ffaa, -208px -167.3333333333px #00ff80, -13px -299.3333333333px #ff0004, 179px -164.3333333333px #ff0044, -112px 12.6666666667px #0051ff, -209px -125.3333333333px #ff00bb, 14px -101.3333333333px #00ff95, -184px -292.3333333333px #ff0099, -26px -168.3333333333px #09ff00, 129px -67.3333333333px #0084ff, -17px -23.3333333333px #0059ff, 129px 34.6666666667px #7300ff, 35px -24.3333333333px #ffd900, -12px -297.3333333333px #ff8400, 129px -156.3333333333px #0dff00, 157px -29.3333333333px #1a00ff, -221px 6.6666666667px #ff0062, 0px -311.3333333333px #ff006a, 155px 50.6666666667px #00ffaa, -71px -318.3333333333px #0073ff;
                            }
                          }
                    }
                }
            }
            .frame_comment{
                position: fixed;
                left: 0;
                top: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 997;
                .overall{
                    position: fixed;
                    left: 0;
                    top: 0;
                    height: 100vh;
                    width: 100vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #000000c0;
                    z-index: 998;
                }
                .panel_comment{
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #fff;
                    height: 80%;
                    width: 100%;
                    max-width: 700px;
                    border-radius: 10px;
                    transition: 0.4s ease;
                    padding:0 10px 10px 10px;
                    z-index: 999;
                    .close{
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        height: 10%;
                        width: 100%;
                        i{
                            color: var(--primary);
                            font-size: 30px;
                        }
                    }
                    //user comments
                    .UsersComments{
                        height: 65%;
                        width: 100%;
                        overflow: hidden auto;
                        margin-bottom: 5%;
                    }
                    //send comment
                    .messageBox {
                        width: 100%;
                        height: 20%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        background-color: transparent;
                        padding: 0 15px;
                        border-radius: 10px;
                        border: 1px solid rgb(63, 63, 63);
                        .footer{
                            width: 100%;
                            display: flex;
                            justify-content: end;
                            padding: 5px 10px;
                        }
                      }
                      .messageBox:focus-within {
                        border: 1px solid rgb(110, 110, 110);
                      }
                      .fileUploadWrapper {
                        width: fit-content;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: Arial, Helvetica, sans-serif;
                      }
                      
                      #file {
                        display: none;
                      }
                      .fileUploadWrapper label {
                        cursor: pointer;
                        width: fit-content;
                        height: fit-content;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                      }
                      .fileUploadWrapper label svg {
                        height: 18px;
                      }
                      .fileUploadWrapper label svg path {
                        transition: all 0.3s;
                      }
                      .fileUploadWrapper label svg circle {
                        transition: all 0.3s;
                      }
                      .fileUploadWrapper label:hover svg path {
                        stroke: #fff;
                      }
                      .fileUploadWrapper label:hover svg circle {
                        stroke: #fff;
                        fill: #3c3c3c;
                      }
                      .fileUploadWrapper label:hover .tooltip {
                        display: block;
                        opacity: 1;
                      }
                      .tooltip {
                        position: absolute;
                        top: -40px;
                        display: none;
                        opacity: 0;
                        color: white;
                        font-size: 10px;
                        text-wrap: nowrap;
                        background-color: #000;
                        padding: 6px 10px;
                        border: 1px solid #3c3c3c;
                        border-radius: 5px;
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
                        transition: all 0.3s;
                      }
                      #messageInput {
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        outline: none;
                        border: none;
                        padding-left: 10px;
                        color: rgb(0, 0, 0);
                      }
                      #messageInput:focus{
                        text-decoration: none;
                        box-shadow: none;
                        outline: none;
                      }
                      #messageInput:focus ~ #sendButton svg path,
                      #messageInput:valid ~ #sendButton svg path {
                        fill: #3c3c3c;
                        stroke: white;
                      }
                      
                      #sendButton {
                        width: fit-content;
                        height: 100%;
                        background-color: transparent;
                        outline: none;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        transition: all 0.3s;
                      }
                      #sendButton svg {
                        height: 18px;
                        transition: all 0.3s;
                      }
                      #sendButton svg path {
                        transition: all 0.3s;
                      }
                      #sendButton:hover svg path {
                        fill: #3c3c3c;
                        stroke: white;
                      }
                      
                }
            }
            //show image
            .frame_image{
                position: fixed;
                left: 0;
                top: 0;
                height: 100vh;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 997;
                .overall{
                    position: fixed;
                    left: 0;
                    top: 0;
                    height: 100vh;
                    width: 100vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #000000c0;
                    z-index: 998;
                }
                .image_comment{
                    position: relative;
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #fff;
                    height: 80%;
                    width: 100%;
                    max-width: 800px;
                    border-radius: 10px;
                    transition: 0.4s ease;
                    padding:10px;
                    z-index: 999;
                    .close{
                        position: absolute;
                        top: -20px;
                        right: -20px;
                        i{
                            color: var(--primary);
                            font-size: 40px;
                        }
                    }
                    img{
                        height: 100%;
                    }
                      
                }
            }
        }
    }
}