:root {
    --bg1-dark : #1a2035;
    --bg2-dark : #2a3347;
    --title1-dark :#f1f1f1;
    --title2-dark :#d7d4d4;
    --title3-dark :#dbdbdb;
    --hover_sid-dark :#f3f4f63a;
    --sid_filter-dark:#1a2035;
    --opacity-dark:0.5;

    --bg1-light : #ffffff;
    --bg2-light : #f5f6f8;
    --title1-light :#1e1e1e;
    --title2-light :#515151;
    --title3-light :#5f5f5f;
    --hover_sid-light :#ffffffc0;
    --sid_filter-light:#ffffff;
    --opacity-light:0.2;

    --over_card:#a09a9a65;
}
.flash_message{
    z-index: 9999;
}
//override on olde style
.bg-white{
    background-color: var(--bg2) !important;
}
.text-gray-900{
    color: var(--title1) !important;
}
.text-gray-700 {
    color: var(--title2) !important;
}
.text-gray-600 {
    color: var(--title3) !important;
}
.text-gray-500{
    color: var(--title1) !important;
}
.bg-gray-800{
    background-color: var(--action_color) !important;
}
.hover\:text-gray-700:hover {
    color: var(--action_color) !important;
}
.hover\:bg-gray-100:hover {
    color: #ededed !important;
    background-color: #f3f4f617 !important;
}
.focus\:ring-offset-2:focus {
    --tw-ring-offset-width: none;
}
.border_correct{
    border: 3px solid var(--action_color) !important;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background-color: var(--action_color);
}
body{
    overflow: hidden
}
//tables width
.DataTable1{
    min-width: 900px;
}
.DataTable2{
    min-width: 700px;
}
.DataTable3{
    min-width: 500px;
}
///////pages style
//***************gest_pages
@import "gest_pages/login/login.scss";
@import "gest_pages/blogs.scss";
@import "gest_pages/landing_page.scss";

//**************auth_pages
@import "auth_pages/main_frame/main_fram.scss";
@import "auth_pages/profile.scss";

// ************** admin_pages
@import "admin_pages/dashboard.scss";
@import "admin_pages/blog.scss";
@import "admin_pages/users.scss";
@import "admin_pages/about.scss";
@import "admin_pages/skils.scss";
// @import "admin_pages/services.scss";
// @import "admin_pages/exp.scss";
@import "admin_pages/project.scss";
@import "admin_pages/testimonial.scss";
// @import "admin_pages/contact.scss";

//////component style
@import 'auth_pages/component/component.scss';
@import 'gest_pages/components/comments.scss';
//////respensive_page style
@import 'respensive_page.scss';
